DATABASE_URL=postgres://user:password@localhost:5432/uptime_monitor?sslmode=disable
PORT=8080
JWT_SECRET=the6fallenangels-says-you-should-change-this

# For Email Log Alerts
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
ALERT_FROM=