DATABASE_URL=postgres://user:password@localhost:5432/uptime_monitor?sslmode=disable
PORT=8080
JWT_SECRET=the6fallenangels-says-you-should-change-this

# For Email Log Alerts
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your-mailtrap-username
SMTP_PASS=your-mailtrap-password
ALERT_FROM=define